<!DOCTYPE html>
<html>
<head>
     <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="stylesheets/main.css">
        <title>CS 313</title>
</head>

<body>

     <h1>Postal Results</h1>
    <div class="container">


        <p>The cost to mail this <%= mailType %> package is: $<%= result %> <%= message %></p>

    </div>

</body>
</html>
