<!doctype html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="stylesheets/main.css">
        <title>CS 313</title>
    </head>
    <body>
    <h1> Christmas Shopping Tracker</h1>
        <div>
            <form action="/shopping" method="get">
                 Name:<br>
                  <input type="text" name="name">
                  <br><br>
                 Product:<br>
                  <input type="text" name="product">
                <br><br>
                <label>Store</label>
                <select name="store">
                      <option>"talbots"</option>
                      <option>"target"</option>
                      <option>"amazon"</option>
                      <option>"walmart"</option>
                      <option>"sears"</option>
                      <option>"khols"</option>
                      <option>"ethan allen"</option>
                      <option>"wayfair"</option>
                      <option>"dillards"</option>
                      <option>"bloomingdales"</option>
                      <option>"crate and barrel"</option>
                      <option>"dsw"</option>
                      <option>"nike"</option>
                      <option>"laura ashley"</option>
                      <option>"tj max"</option>
                      <option>"fashion ten"</option>
                      <option>"ross"</option>
                </select>
                  <br><br>
                  <input type="submit" class="button" value="Get Cost">
            </form>
        </div>
    </body>
</html>
